@media screen and (min-width: 320px) and (max-width: 425px) {
  .button-section {
    width: 50%;
  }
  .apple-button {
    width: 50px;
    height: 50px;
  }
  .google-button {
    width: 50px;
    height: 50px;
  }
  .button-text_apple,
  .button-text_google {
    display: none;
  }
  .apple-button img {
    width: 70%;
    height: 70%;
    position: relative;
    top: -6px;
  }
  .google-button img {
    width: 80%;
    height: 80%;
    position: relative;
    top: -7px;
    left: 3px;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .logo-footer img {
    position: relative;
    left: 0;
  }
  .footer-container p {
    right: 0;
    width: 31%;
    
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  nav .nav-bar .logo a img {
    position: relative;
    left: 15px;
  }
  .darkLight-searchBox .dark-light {
    justify-content: end;
  }
  .first-section__container {
    display: flex;
    flex-direction: column-reverse;
  }
  .first-section__image img {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    max-width: 70%;
  }
  .button-section {
    width: 110%;
  }
  .apple-button img {
    margin-left: 1.8vw;
  }
  .third-section__bd {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .third-section__text h2 {
    font-size: clamp(1rem, 1vw + 1rem, 1.8rem);
    position: relative;
    bottom: 0vh;
    top: 5px;
  }
  .third-section__text {
    left: 0px;
    text-align: center;
  }
  .third-section__text p {
    color: #fff;
    font-size: clamp(0.7rem, 0.7vw + 0.7rem, 1rem);
    position: relative;
    bottom: 0vh;
    top: 10px;
    width: 90%;
    margin: 0 auto;
  }
  .send__direction {
    display: flex;
    margin: 0 auto;
    width: 90%;
    margin-top: 25px;
  }
  .send__input {
    width: 80%;
  }
  .third-section__image {
    margin-bottom: -50px;
  }
  .third-section__image img {
    width: 200px;
    height: 200px;
  }
  .four-section__container {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  .four-section__text p {
    width: 100%;
  }
  .logo-footer img {
    width: 100px;
    height: 40px;
  }
  .social-media img {
    width: 30px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  nav .nav-bar .sidebarOpen {
    display: block;
  }
  .menu {
    position: fixed;
    height: 100%;
    width: 320px;
    left: -120%;
    top: 0;
    padding: 20px;
    background-color: var(--side-nav);
    z-index: 100;
    transition: all 0.4s ease;
  }

  nav.active .menu {
    left: 0%;
  }

  nav.active .nav-bar .navLogo a {
    opacity: 0;
    transition: all 0.3s ease;
  }

  .menu .logo-toggle {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo-toggle .logo a img {
    position: relative;
    margin: 0 auto;
    width: 100%;
    width: 125px;
    height: 60px;
  }
  .logo-toggle .siderbarClose {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }

  .nav-bar .nav-links {
    flex-direction: column;
    padding-top: 30px;
  }

  .nav-links li a {
    display: block;
    font-size: 0.9rem;
    margin-top: 20px;
    color: #fff;
  }
  .nav__link:hover {
    color: #fff;
  }
  .cards {
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-45%, 5%);
  }
  .first-section__title h1 {
    width: 100%;
    font-size: clamp(0.8rem, 1.5vw + 2rem, 3rem);
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .third-section__bd {
    width: 90%;
    height: auto;
  }
  .third-section__text h2 {
    font-size: 1.6rem;
  }
  .third-section__text p {
    font-size: 1rem;
  }
  .third-section__image img {
    width: 280px;
    height: 280px;
  }
  .send__direction {
    width: 80%;
  }
}
