* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: all 0.4s ease;
}
:root {
  --body-color: #fff;
  --nav-color: #fff;
  --side-nav: #7d5ecb;
  --text-color: #333;
  --search-color: #3cb077;
}
html {
  scroll-behavior: smooth;
}
body {
  height: 100vh;
  padding-top: 100px;
  overflow-x: hidden;
}
body.dark {
  --body-color: #1f1b24;
  --nav-color: #1f1b24;
  --side-nav: #7d5ecb;
  --text-color: #fff;
}
header nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 90px;
  width: 100%;
  background-color: var(--nav-color);
  z-index: 100;
}
.scroll-header {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
body.dark {
  background-color: var(--body-color);
}
header nav .nav-bar {
  position: relative;
  height: 100%;
  max-width: 1250px;
  width: 100%;
  background-color: var(--nav-color);
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .nav-bar .sidebarOpen {
  color: #fff;
  background-color: #7d5ecb;
  border-radius: 5px;
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  display: none;
}
nav-bar .logo a {
  position: relative;
  top: 20px;
}

nav .nav-bar .logo a img {
  position: relative;
  top: 5px;
  left: 8px;
  width: 135px;
  height: 65px;
}
.nav__link {
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--side-nav);
}
.menu .logo-toggle {
  display: none;
}
.nav-bar .nav-links {
  display: flex;
  align-items: center;
  align-content: center;
}

.nav-bar .nav-links li {
  margin: 0 10px;
  list-style: none;
}

.nav-links li a {
  position: relative;
  font-size: clamp(0.4rem, 0.4vw + 0.6rem, 1rem);
  font-weight: 600;
  color: var(--text-color);
  text-decoration: none;
}

.nav-links li a::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 30px;
  transform: translateX(-50%);
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: var(--text-color);
  opacity: 0;
  transition: all 0.3s ease;
}

.nav-links li:hover a::before {
  opacity: 1;
}
.nav-bar .darkLight-searchBox {
  display: flex;
  align-items: center;
}

.darkLight-searchBox .dark-light {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.dark-light i {
  position: absolute;
  color: var(--text-color);
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.dark-light i.sun {
  opacity: 0;
  pointer-events: none;
}
.dark-light.active i.sun {
  opacity: 1;
  pointer-events: auto;
}
.dark-light.active i.moon {
  opacity: 0;
  pointer-events: none;
}

.searchToggle i.cancel {
  opacity: 0;
  pointer-events: none;
}

.searchToggle.active i.cancel {
  opacity: 1;
  pointer-events: auto;
}
.searchToggle.active {
  opacity: 0;
  pointer-events: none;
}
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background: var(--side-nav);
  border-radius: 0.4rem;
  z-index: 10;
  transition: 0.4s;
  visibility: hidden;
}
.scrolltop:hover {
  background-color: var(--search-color);
}
.scrolltop__icon {
  font-size: 1.5rem;
  color: #fff;
}
.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}
.first-section__container {
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1.5fr 1fr));
  margin: 0 auto;
  place-items: center;
}
.first-section__title {
  grid-area: 1 / 1;
  margin-bottom: 10vh;
}

.first-section__title h1 {
  width: 75%;
  font-size: clamp(0.8rem, 1.2vw + 1.2rem, 2.2rem);
}
.first-section__title span {
  color: var(--side-nav);
}
.first-section__title p {
  margin-top: 5vh;
  font-size: clamp(0.5rem, 0.6vw + 0.6rem, 1.1rem);
  width: 85%;
}
.first-section__title h3 {
  margin-top: 3vh;
  font-size: clamp(0.5rem, 0.6vw + 0.6rem, 1.1rem);
}
.first-section__image {
  grid-area: 1 / 2;
  max-width: 100%;
  min-width: 80%;
}
.first-section__image img {
  width: 100%;
}
.button-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 5vh;
}
.apple-button {
  width: 30%;
  height: auto;
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}
.google-button {
  width: 34%;
  height: auto;
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}
.apple-button a,
.google-button a {
  width: 100%;
  text-decoration: none;
}
.button-info {
  display: flex;
  flex-direction: row;
}
.apple-button img {
  width: 19%;
  height: 24%;
  margin: 12px auto;
  margin-left: 0.9vw;
}
.google-button img {
  width: 18%;
  height: 24%;
  margin: 12px auto;
  margin-left: 0.7vw;
}
.button-text_apple {
  display: flex;
  flex-direction: column;
  color: #000;
  line-height: 0;
  margin: 20px auto;
  margin-right: 15px;
}
.button-text_google {
  display: flex;
  flex-direction: column;
  color: #000;
  width: 100%;
  line-height: 0;
  margin: 20px auto;
  margin-right: 25px;
}
.button-text_apple h4 {
  font-weight: 400;
  font-size: clamp(0.2rem, 0.4vw + 0.4rem, 0.8rem);
}
.button-text_google h4 {
  margin-left: -3vw;
  font-weight: 400;
  font-size: clamp(0.2rem, 0.4vw + 0.4rem, 0.8rem);
}
.button-text_apple h3,
.button-text_google h3 {
  font-weight: 600;
  font-size: clamp(0.2rem, 0.6vw + 0.6rem, 1.4rem);
}
