* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: all 0.4s ease;
}
:root {
  --body-color: #fff;
  --nav-color: #fff;
  --side-nav: #7d5ecb;
  --text-color-light: #333;
  --text-color-dark: #fff;
  --search-color: #3cb077;
}
html {
  scroll-behavior: smooth;
}
body {
  height: 100vh;
  padding-top: 100px;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: #fff;
}
body.dark {
  --body-color: #1f1b24;
  --nav-color: #1f1b24;
  --side-nav: #7d5ecb;
  --text-color: #fff;
}
header nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 90px;
  width: 100%;
  background-color: var(--nav-color);
  z-index: 100;
}
.scroll-header {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
body.dark {
  background-color: var(--body-color);
}
header nav .nav-bar {
  position: relative;
  height: 100%;
  max-width: 1250px;
  width: 100%;
  background-color: var(--nav-color);
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .nav-bar .sidebarOpen {
  color: var(--text-color-dark);
  background-color: var(--side-nav);
  border-radius: 5px;
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  display: none;
}
nav .nav-bar .logo a img {
  position: relative;
  top: 5px;
  left: 28px;
  width: 125px;
  height: 55px;
}

.nav__link {
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--side-nav);
}
.menu .logo-toggle {
  display: none;
}
.nav-bar .nav-links {
  display: flex;
  align-items: center;
  align-content: center;
}

.nav-bar .nav-links li {
  margin: 0 10px;
  list-style: none;
}

.nav-links li a {
  position: relative;
  font-size: clamp(0.4rem, 0.4vw + 0.6rem, 1rem);
  font-weight: 600;
  color: var(--text-color);
  text-decoration: none;
}

.nav-links li a::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 30px;
  transform: translateX(-50%);
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: var(--text-color);
  opacity: 0;
  transition: all 0.3s ease;
}

.nav-links li:hover a::before {
  opacity: 1;
}
.nav-bar .darkLight-searchBox {
  display: flex;
  align-items: center;
}

.darkLight-searchBox .dark-light {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.dark-light i {
  position: absolute;
  color: var(--text-color);
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.dark-light i.sun {
  opacity: 0;
  pointer-events: none;
}
.dark-light.active i.sun {
  opacity: 1;
}
.dark-light.active i.moon {
  opacity: 0;
  pointer-events: none;
}
.searchToggle i.cancel {
  opacity: 0;
  pointer-events: none;
}
.searchToggle.active i.cancel {
  opacity: 1;
}
.searchToggle.active {
  opacity: 0;
  pointer-events: none;
}
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background: var(--side-nav);
  border-radius: 0.4rem;
  z-index: 10;
  transition: 0.4s;
  visibility: hidden;
}
.scrolltop:hover {
  background-color: var(--search-color);
}
.scrolltop__icon {
  font-size: 1.5rem;
  color: #fff;
}
.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}
.first-section__container {
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr 1fr));
  margin: 10px auto;
  place-items: center;
}
.first-section__title {
  grid-area: 1 / 1;
  margin-bottom: 10vh;
}

.first-section__title h1 {
  width: 60%;
  font-size: clamp(0.8rem, 1.5vw + 2.5rem, 4rem);
  font-weight: 400;
}
.first-section__title h1 span {
  color: var(--side-nav);
  font-weight: 900;
}
.first-section__title h2 {
  width: 75%;
  margin-top: 2vh;
  font-size: clamp(0.8rem, 1.2vw + 1.2rem, 1.5rem);
}
.first-section__title span {
  color: var(--side-nav);
}
.first-section__title p {
  margin-top: 3vh;
  font-size: clamp(0.5rem, 0.6vw + 0.6rem, 1.1rem);
  width: 85%;
}
.first-section__title h3 {
  margin-top: 3vh;
  font-size: clamp(0.5rem, 0.6vw + 0.6rem, 1.1rem);
}
.first-section__image {
  grid-area: 1 / 2;
  max-width: 100%;
  min-width: 80%;
}
.first-section__image img {
  width: clamp(15rem, 15vw + 15rem, 55rem);
}

/* Dark Mode first section */

body.dark .first-section__title h1 {
  color: #fff;
}
body.dark .first-section__title p {
  color: #fff;
}
body.dark .first-section__title h2 {
  color: #fff;
}
body.dark .first-section__title h3 {
  color: #fff;
}
.button-section {
  width: 110%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 5vh;
}
.apple-button {
  width: 185px;
  height: auto;
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}
.google-button {
  width: 210px;
  height: 5%;
  height: auto;
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}
.apple-button a,
.google-button a {
  width: 100%;
  text-decoration: none;
}
.button-info {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.apple-button img {
  width: 19%;
  height: 24%;
  margin: 12px auto;
  margin-left: 0.7vw;
}
.google-button img {
  width: 18%;
  height: 24%;
  margin: 12px auto;
  margin-left: 0.6vw;
}
.button-text_apple {
  display: flex;
  flex-direction: column;
  color: #000;
  line-height: 0;
  margin: 20px auto;
  margin-right: 18px;
}
.button-text_google {
  display: flex;
  flex-direction: column;
  color: #000;
  width: 100%;
  line-height: 0;
  margin: 20px auto;
  margin-right: 22px;
}
.button-text_apple h4 {
  font-weight: 400;
  font-size: clamp(0.2rem, 0.5vw + 0.5rem, 0.8rem);
}
.button-text_google h4 {
  margin-left: -70px;
  font-weight: 400;
  font-size: clamp(0.2rem, 0.65vw + 0.65rem, 0.9rem);
}
.button-text_apple h3,
.button-text_google h3 {
  font-weight: 600;
  font-size: clamp(0.2rem, 1vw + 1rem, 1.4rem);
}
/* DARK MODE BADGES */

body.dark .apple-button,
body.dark .google-button {
  background-color: #1f1b24;
  border: 2px solid #fff;
}
body.dark .apple-button img {
  filter: invert(100%);
}
body.dark .button-text_apple h4,
body.dark .button-text_google h4 {
  color: var(--text-color-dark);
}
body.dark .button-text_apple h3,
body.dark .button-text_google h3 {
  color: var(--text-color-dark);
}
.second-section__cards {
  display: flex;
  flex-direction: column;
  margin: 1vh auto;
  width: 100%;
}
.second-section__cards h1 {
  margin: 0 auto;
  font-weight: 900;
  width: 80%;
  font-size: clamp(0.6rem, 1vw + 1rem, 2.2rem);
  font-style: italic;
  color: var(--side-nav);
  text-align: center;
}
.second-section__cards h3 {
  margin: 20px auto;
  width: 80%;
  font-size: clamp(0.6rem, 0.7vw + 0.7rem, 1.2rem);
  font-style: italic;
  text-align: center;
}
body.dark .second-section__cards h3 {
  color: #fff;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  width: 80%;
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-45%, 20%);
}
.card {
  position: relative;
  width: 250px;
  height: 250px;
  color: #fff;
  text-align: center;
  display: grid;
  place-content: center;
  background: url("/assets/image/card-img1.png") center no-repeat;
  background-color: var(--search-color);
  background-size: cover;
  border-radius: 20px;
  z-index: 1;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.56);
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.56);
}
.card_cash {
  background: url("/assets/image/card-img2.png") center no-repeat;
  background-color: var(--search-color);
  background-size: cover;
}
.card_gps {
  background: url("/assets/image/card-img3.png") center no-repeat;
  background-color: var(--search-color);
  background-size: cover;
}

.card::before,
.card::after {
  content: " ";
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(60% + 35px);
  background-color: var(--side-nav);
  transition: transform 0.5s.25s ease-in;
  z-index: -1;
}

.card::before {
  top: 0;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
  transform: translateY(-100%);
}

.card::after {
  bottom: 0;
  clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
  transform: translateY(100%);
}

.card__content {
  opacity: 0;
  transition: opacity 0.25s;
  margin-bottom: 50px;
}
.card__content img {
  width: 100px;
  height: 100px;
  position: relative;
  top: 30px;
}

.card__title {
  color: #fff;
  margin-bottom: 15px;
  font-size: 2rem;
  position: relative;
  top: 5px;
}

.card__description {
  font-size: 14px;
  position: relative;
  bottom: 10px;
}

.card:hover::before,
.card:hover::after {
  transform: translateY(0);
}

.card:hover .card__content {
  opacity: 1;
  transition-delay: 0.75s;
}
.second-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20vh auto;
  width: 80%;
}
.second-text h3 {
  font-size: clamp(0.6rem, 0.7vw + 0.7rem, 1.2rem);
}
body.dark .second-text h3 {
  color: #fff;
}
.second-text button {
  background-color: var(--search-color);
  width: 160px;
  height: 50px;
  margin-top: 8vh;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.56);
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.56);
}
.second-text button a {
  color: #fff;
  font-weight: 900;
  text-decoration: none;
}
.second-text button:hover {
  background: var(--side-nav);
}
.third-section {
  width: 100%;
  height: auto;
  margin: -5vh auto;
}
.third-section__bd {
  background-color: var(--search-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  place-content: center;
  margin: 0 auto;
  width: 70%;
  height: 350px;
  border-radius: 2rem;
}
.third-section__text {
  grid-area: 1 / 1;
  position: relative;
  left: 50px;
}
.third-section__text h2 {
  color: #fff;
  font-size: 2rem;
  position: relative;
  bottom: 3vh;
}
.third-section__text p {
  color: #fff;
  font-size: 1.2rem;
  position: relative;
  bottom: 3vh;
}

.send__direction {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.send__input {
  width: 70%;
  outline: none;
  border: none;
  font-size: 1.5rem;
}

.send__input::placeholder {
  font-weight: 400;
  font-size: clamp(0.8rem, 0.8vw + 0.8rem, 1.4rem);
}
.button {
  display: inline-block;
  background-color: var(--side-nav);
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 500;
  transition: 0.3s;
}

.third-section__image {
  grid-area: 1 /2;
}
.third-section__image img {
  width: 380px;
  height: 380px;
}
.four-section {
  width: 80%;
  margin: 15vh auto;
}
.four-section__container {
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 auto;
  place-items: center;
}
.four-section__image {
  grid-area: 1 / 1;
  max-width: 100%;
  min-width: 80%;
}
.four-section__image img {
  width: clamp(15rem, 15vw + 15rem, 55rem);
}
.four-section__text {
  grid-area: 1 / 2;
}
.four-section__text h1 {
  color: var(--side-nav);
  font-size: clamp(0.8rem, 1vw + 1.5rem, 2.2rem);
  font-weight: 800;
}
.four-section__text p {
  font-size: clamp(0.5rem, 0.7vw + 0.7rem, 1.2rem);
  font-weight: 400;
  margin-top: 15px;
  width: 85%;
}
body.dark .four-section__text p {
  color: #fff;
}
.four-section button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15vh;
}
.four-section button {
  background-color: var(--search-color);
  width: 160px;
  height: 50px;
  margin: 0 auto;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.56);
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.56);
}
.four-section button a {
  color: #fff;
  font-weight: 900;
  text-decoration: none;
}
.four-section button:hover {
  background: var(--side-nav);
}
footer {
  margin-top: -20px;
  height: 25%;
}
.line {
  width: 80%;
  border: solid 1px #1f1b24;
  margin: 0 auto;
}
body.dark .line {
  border: solid 1px #fff;
}
.footer-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 5vh;
}
.logo-footer img {
  position: relative;
  left: 15vw;
  width: 125px;
  height: 55px;
}
.social-media {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.social-media img {
  width: 50px;
}
body.dark .social-media img {
  filter: invert(100%);
}
.footer-container p {
  position: relative;
  right: 12vw;
  width: 15%;
  font-size: clamp(0.5rem, 0.6vw + 0.6rem, 1rem);
}
body.dark .footer-container p {
  color: #fff;
}
